name: test
on:
  pull_request:
    branches:
      - main
      - release/*
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Use Docker
        uses: actions-hub/docker@f5fdbfc3f9d2a9265ead8962c1314108a7b7ec5d # v1.0.3
        env:
          SKIP_LOGIN: true

      - name: Run bash_unit tests
        run: sudo ./bash_unit test/test_*.sh